h1{
    color: brown;
    font-size: 120px;
}

#enc2{
    color: burlywood;
    font-size: 30px;
    font-style: oblique;
    font: xx-large;
}
#enc3{
    color: crimson;
    font-size: 210px;
}

.gola{
    color: darkviolet;
    background: indigo;
}