h1{
    background: #eeb76b;
    /* margin-left: 200px;
    margin-right: 100px; */
    /* margin: 200px; */
    /* margin: 100px 300px; */
    margin: 200px 30px 200px 30px;
}

p{
    background: #e48900;
    padding: 300px;
}